
#title {
  background: red;
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

#logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	background: gold;

}

#garret {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;

}

h1.header {
	color: white;
	background: red;
	text-align: center;
}

p.description {
	color: red;
	text-align: center;
	font-size: 25px;
}

#aboutmeheader {
	text-align: center;
	background: red;
	color: white;
	font-size: 25px;

}

#recap {
	background: red;
	color: white;
}
#schedule {
	background: gold;
	font-size: 20px;
	text-align: center;
}

#bio {
	background: gold;
}

#TOTW {
	background: red;
}

#links {
	color: red;
	text-align: right;
	font-size: 20px;
}

span.loss {
	color: red;
}

span.win {
	color: green;
}

a:hover {
  color: hotpink;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}